<!DOCTYPE html>
<html lang="en">

<head>
  <title>BingeFlix</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/css/uikit.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
  <link rel="icon" type="image/png" href="/assets/images/logo-bingeflix-trans.png"/>
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
   <a class="navbar-brand"></a>
    <ul>
      <li><button><a href="/home">Home</a></button></li>
      <li><button><a href="/login">Login</a></button></li>
      <li><button><a href="/signup">Sign Up</a></button></li>
    </ul>
  </nav>

  <div class="jumbotron jumbotron-fluid container3">
      <img src="/assets/images/binge-home.png" id="logoHome" alt="bingeflix-logo">
      <p>Embrace your binge TV capabilities</p>
      <p>TV Reviews for those who admit they binge.</p>
  </div>

  <div class="jumbotron jumbotron-fluid container2">
    <section class="testimonial text-center">
      <div class="container">
        <h3 class="reviews"> The Reviews Are In !</h3>
        <div class="divider"></div>
        <div class="row" id="featured">
          <div class="col-md-4 col-testimonial">
            <img class="rounded-circle" src="/assets/images/theoffice.jpg" id="featured1">
            <!-- <img src="/assets/images/white-logo.png" id="logo" alt="bingeflix-logo"> -->
            <p> The Office ! </p>
            <p5 class="quote-text">
              "I've been watching TV throughout my entire life, and never in all that time has there been another show
              as charming, witty, and humorous as "The Office"
            </p5>
            <p>
              <span class="quote-author"> Jonathan Smith</span>
            </p>
            </img>
          </div>
          <div class="col-md-4 col-testimonial">
            <img class="rounded-circle" src="/assets/images/friends.jpg" id="featured2">
            <p> Friends ! </p>
            <p5 class="quote-text">
              "THE BEST SITCOM EVERRRR! i knew there was some series named friends but never got a chance to watch and
              this october i downloaded it to watch it some day when i'm free.""
            </p5>
            <p>
              <span class="quote-author"> Jane Donovan</span>
            </p>
            </img>
          </div>
          <div class="col-md-4 col-testimonial">
            <img class="rounded-circle" src="/assets/images/outerbanks.jpg" id="featured3">
            <p> Outer Banks ! </p>
            <p5 class="quote-text">
              "I absolutely loved this show! I've always been a fan of coming of age and murder mystery type shows, so
              when you bring the genre's together it equals perfection.""
            </p5>
            <p>
              <span class="quote-author"> Samantha Davidson</span>
            </p>
            </img>
          </div>
        </div>

      </div>

    </section>
  </div>

  <footer class="footer">
    <div class="container">
      <p3> BingeFlix ~ Embrace your binge TV capabilities</p3>
    </div>
    </div>
    </div>
  </footer>

  <script src="/assets/js/app.js"></script>
  <!-- <script src="./routes/api-routes.js"></script>
  <script src="./routes/html-routes.js"></script>
  <script src="./routes/omdb-api.js"></script> -->
</body>
</html>